flows1.json
[
    {
        "id": "3267c2004edd4714",
        "type": "tab",
        "label": "First Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9f6cc4a3580f2793",
        "type": "tab",
        "label": "Inject and Debug Node",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "24db02fa71cc852e",
        "type": "tab",
        "label": "Link in  and Link out",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "934718c96dcc4416",
        "type": "tab",
        "label": "Function nodes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a0281ef7ad14c679",
        "type": "tab",
        "label": "Exercise 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e07f73d4e028f5a4",
        "type": "tab",
        "label": "Switch Node ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "37690e82bd7b63d3",
        "type": "tab",
        "label": "change node",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a4fbafc08a4d9f2b",
        "type": "tab",
        "label": "Range Node",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a05af2cf9427edc1",
        "type": "tab",
        "label": "Split and Join Node",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8970245f93f53d60",
        "type": "tab",
        "label": "Exercise1.1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "83e35a4d16d1e8df",
        "type": "tab",
        "label": "Sort and Batch node",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "16e6999795236c51",
        "type": "tab",
        "label": "Delay and Trigger Node",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "84928e520e2998b7",
        "type": "tab",
        "label": "rbe and random",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5c660660178a1741",
        "type": "tab",
        "label": "Exercise 1.2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "22ae080bddeda637",
        "type": "tab",
        "label": "Store the data ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "01642fa426a25687",
        "type": "tab",
        "label": "Exercise1.2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "57be1211125b6ef4",
        "type": "inject",
        "z": "3267c2004edd4714",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "e65b157512351c76"
            ]
        ]
    },
    {
        "id": "e65b157512351c76",
        "type": "debug",
        "z": "3267c2004edd4714",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 160,
        "wires": []
    },
    {
        "id": "a0fcf60d60e1d3bd",
        "type": "inject",
        "z": "3267c2004edd4714",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 220,
        "wires": [
            [
                "c99c80341c4cb897"
            ]
        ]
    },
    {
        "id": "c99c80341c4cb897",
        "type": "debug",
        "z": "3267c2004edd4714",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "b15d6f73a25ef989",
        "type": "inject",
        "z": "3267c2004edd4714",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "aadb08fcfe76a235"
            ]
        ]
    },
    {
        "id": "aadb08fcfe76a235",
        "type": "debug",
        "z": "3267c2004edd4714",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 280,
        "wires": []
    },
    {
        "id": "dd112b3055d75fa3",
        "type": "inject",
        "z": "9f6cc4a3580f2793",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello World, This is my first project",
        "payloadType": "str",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "73fe94a1bcd42107",
                "2e2bb4c74ab85771"
            ]
        ]
    },
    {
        "id": "73fe94a1bcd42107",
        "type": "debug",
        "z": "9f6cc4a3580f2793",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 120,
        "wires": []
    },
    {
        "id": "e713f72180893f3d",
        "type": "inject",
        "z": "9f6cc4a3580f2793",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "95",
        "payloadType": "num",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "b7af9f11041ba8d9"
            ]
        ]
    },
    {
        "id": "b7af9f11041ba8d9",
        "type": "debug",
        "z": "9f6cc4a3580f2793",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 180,
        "wires": []
    },
    {
        "id": "c1a9d91a9136b4dc",
        "type": "inject",
        "z": "9f6cc4a3580f2793",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "45",
        "payloadType": "num",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "b7af9f11041ba8d9"
            ]
        ]
    },
    {
        "id": "c125bce4aa63e3c1",
        "type": "inject",
        "z": "9f6cc4a3580f2793",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "b791ecbaa4b0596a"
            ]
        ]
    },
    {
        "id": "b791ecbaa4b0596a",
        "type": "debug",
        "z": "9f6cc4a3580f2793",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 280,
        "wires": []
    },
    {
        "id": "ae2acb723d7f779f",
        "type": "inject",
        "z": "9f6cc4a3580f2793",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "b791ecbaa4b0596a"
            ]
        ]
    },
    {
        "id": "e792ae0d6fb7ee91",
        "type": "inject",
        "z": "9f6cc4a3580f2793",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[20,30,10,25,\"Hi I'm Array\"]",
        "payloadType": "json",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "8e03f19e7605aa7c"
            ]
        ]
    },
    {
        "id": "8e03f19e7605aa7c",
        "type": "debug",
        "z": "9f6cc4a3580f2793",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 360,
        "wires": []
    },
    {
        "id": "f201f2fdfa0d3241",
        "type": "inject",
        "z": "9f6cc4a3580f2793",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": " Production Line 1",
        "payload": "{\"Production Line\":{\"Down Time\":\"20 minutes\",\"Availability\":\"45%\",\"sensors\":{\"Type\":\"proximity sensor\",\"No\":20},\"Motors\":{\"Type\":\"Induction Motor\",\"Currnt\":\"6 Ampere\"}}}",
        "payloadType": "json",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "2d8a78956d11b8ae"
            ]
        ],
        "info": "JSON"
    },
    {
        "id": "2d8a78956d11b8ae",
        "type": "debug",
        "z": "9f6cc4a3580f2793",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 420,
        "wires": []
    },
    {
        "id": "8ce40fa2b501299a",
        "type": "inject",
        "z": "9f6cc4a3580f2793",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": " Production Line 2",
        "payload": "{\"Production Line\":{\"Down Time\":\"20 minutes\",\"Availability\":\"45%\",\"sensors\":{\"Type\":\"proximity sensor\",\"No\":20},\"Motors\":{\"Type\":\"Induction Motor\",\"Currnt\":\"6 Ampere\"}}}",
        "payloadType": "json",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "2d8a78956d11b8ae"
            ]
        ],
        "info": "JSON"
    },
    {
        "id": "742b56a6b438dfb8",
        "type": "inject",
        "z": "9f6cc4a3580f2793",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": " Production Line 1",
        "payload": "{\"Production Line\":{\"Down Time\":\"20 minutes\",\"Availability\":\"45%\",\"sensors\":{\"Type\":\"proximity sensor\",\"No\":20},\"Motors\":{\"Type\":\"Induction Motor\",\"Currnt\":\"6 Ampere\"}}}",
        "payloadType": "json",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "e0b7cdb910dcb435",
                "12c3d6b5293beb85",
                "c3cc37b85f6dd5ce",
                "4e9823513116f561"
            ]
        ],
        "info": "JSON"
    },
    {
        "id": "e0b7cdb910dcb435",
        "type": "debug",
        "z": "9f6cc4a3580f2793",
        "name": "msg.Down Time",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[\"Production Line\"][\"Down Time\"]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 520,
        "wires": []
    },
    {
        "id": "12c3d6b5293beb85",
        "type": "debug",
        "z": "9f6cc4a3580f2793",
        "name": "msg.Availability",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[\"Production Line\"].Availability",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 560,
        "wires": []
    },
    {
        "id": "c3cc37b85f6dd5ce",
        "type": "debug",
        "z": "9f6cc4a3580f2793",
        "name": "msg.sensor type",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[\"Production Line\"].sensors.Type",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 600,
        "wires": []
    },
    {
        "id": "4e9823513116f561",
        "type": "debug",
        "z": "9f6cc4a3580f2793",
        "name": "msg.motor type",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[\"Production Line\"].Motors.Type",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 640,
        "wires": []
    },
    {
        "id": "2f5debed6172d2b2",
        "type": "link out",
        "z": "9f6cc4a3580f2793",
        "name": "link out 1",
        "mode": "link",
        "links": [],
        "x": 405,
        "y": 700,
        "wires": []
    },
    {
        "id": "2e2bb4c74ab85771",
        "type": "link out",
        "z": "9f6cc4a3580f2793",
        "name": "Message",
        "mode": "link",
        "links": [
            "f0d00a52c737d59d",
            "2c1db53be14c1f9c"
        ],
        "x": 385,
        "y": 60,
        "wires": []
    },
    {
        "id": "f0d00a52c737d59d",
        "type": "link in",
        "z": "9f6cc4a3580f2793",
        "name": "link in 1",
        "links": [
            "2e2bb4c74ab85771"
        ],
        "x": 785,
        "y": 80,
        "wires": [
            [
                "bf36f980ed8aa9bf"
            ]
        ]
    },
    {
        "id": "bf36f980ed8aa9bf",
        "type": "debug",
        "z": "9f6cc4a3580f2793",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 100,
        "wires": []
    },
    {
        "id": "2c1db53be14c1f9c",
        "type": "link in",
        "z": "24db02fa71cc852e",
        "name": "link in 2",
        "links": [
            "2e2bb4c74ab85771"
        ],
        "x": 365,
        "y": 180,
        "wires": [
            [
                "9c3df67f051fecef"
            ]
        ]
    },
    {
        "id": "9c3df67f051fecef",
        "type": "debug",
        "z": "24db02fa71cc852e",
        "name": "Msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "3abaac23f3d6e0a2",
        "type": "inject",
        "z": "934718c96dcc4416",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Number",
        "payload": "50",
        "payloadType": "num",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "43bf919cdecb44a1"
            ]
        ]
    },
    {
        "id": "43bf919cdecb44a1",
        "type": "function",
        "z": "934718c96dcc4416",
        "name": "Addition/Subtraction ",
        "func": "var p =0; \np=msg.payload; \nmsg.payload= p -100; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "5b8e54e5134de0f0"
            ]
        ]
    },
    {
        "id": "5b8e54e5134de0f0",
        "type": "debug",
        "z": "934718c96dcc4416",
        "name": "msg.payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "d0e9f504da22ad06",
        "type": "function",
        "z": "934718c96dcc4416",
        "name": "Extracting Information",
        "func": "var p=0\np=msg.payload.Name \nmsg.payload=p\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            [
                "8bcd893757e6ca7a"
            ]
        ]
    },
    {
        "id": "8bcd893757e6ca7a",
        "type": "debug",
        "z": "934718c96dcc4416",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 636.765625,
        "y": 234.75,
        "wires": []
    },
    {
        "id": "94434673820da2c2",
        "type": "inject",
        "z": "934718c96dcc4416",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "JSON",
        "payload": "{\"Name\":\"Ahmed\",\"Age\":\"20\",\"job\":[{\"location\":\"cairo\",\"time\":\"7 hours\"},{\"location\":\"cairo\",\"time\":\"7 hours\"}]}",
        "payloadType": "json",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "d0e9f504da22ad06",
                "61298289d0599c76"
            ]
        ]
    },
    {
        "id": "61298289d0599c76",
        "type": "function",
        "z": "934718c96dcc4416",
        "name": "Payload Length",
        "func": "var p=0;\np=msg.payload.Name; \nmsg.payload=p.length;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 300,
        "wires": [
            [
                "f005ed72d8c31ed0",
                "ff67c0471860d522"
            ]
        ]
    },
    {
        "id": "f005ed72d8c31ed0",
        "type": "debug",
        "z": "934718c96dcc4416",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "9a0026bb225f2ad3",
        "type": "inject",
        "z": "934718c96dcc4416",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "JSON",
        "payload": "{\"Name\":\"Roy\",\"Age\":\"20\",\"job\":[{\"location\":\"cairo\",\"time\":\"7 hours\"},{\"location\":\"cairo\",\"time\":\"7 hours\"}]}",
        "payloadType": "json",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "38c3031d7d29b36c",
                "478ff5d269f51a50"
            ]
        ]
    },
    {
        "id": "38c3031d7d29b36c",
        "type": "function",
        "z": "934718c96dcc4416",
        "name": "Payload Length",
        "func": "var p=0;\np=msg.payload.Name; \nmsg.payload=p.length;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 420,
        "wires": [
            [
                "ff67c0471860d522",
                "573b111bae4d8639"
            ]
        ]
    },
    {
        "id": "ff67c0471860d522",
        "type": "function",
        "z": "934718c96dcc4416",
        "name": "condition ",
        "func": "var p=0; \np=msg.payload; \nif(p>3){\n    msg.payload=true; \n}\nelse{\n    msg.payload=false; \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 360,
        "wires": [
            [
                "9b48eb6a36a4d1e1",
                "038c75c8dc2f6e63"
            ]
        ]
    },
    {
        "id": "9b48eb6a36a4d1e1",
        "type": "debug",
        "z": "934718c96dcc4416",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 360,
        "wires": []
    },
    {
        "id": "573b111bae4d8639",
        "type": "debug",
        "z": "934718c96dcc4416",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 440,
        "wires": []
    },
    {
        "id": "478ff5d269f51a50",
        "type": "function",
        "z": "934718c96dcc4416",
        "name": "Extracting Information",
        "func": "var p=0\np=msg.payload.Name \nmsg.payload=p\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 500,
        "wires": [
            [
                "375e1c1ea6b972ce"
            ]
        ]
    },
    {
        "id": "375e1c1ea6b972ce",
        "type": "debug",
        "z": "934718c96dcc4416",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 636.765625,
        "y": 494.75,
        "wires": []
    },
    {
        "id": "038c75c8dc2f6e63",
        "type": "function",
        "z": "934718c96dcc4416",
        "name": "Update Topic",
        "func": "msg.topic=\"comarison\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 420,
        "wires": [
            [
                "52165c8ff8c95050"
            ]
        ]
    },
    {
        "id": "52165c8ff8c95050",
        "type": "debug",
        "z": "934718c96dcc4416",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 420,
        "wires": []
    },
    {
        "id": "1dcab9ab4c9eb1e1",
        "type": "inject",
        "z": "934718c96dcc4416",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 680,
        "wires": [
            [
                "190f65d9399c0e9b",
                "b3cd030db1b2a606"
            ]
        ]
    },
    {
        "id": "190f65d9399c0e9b",
        "type": "function",
        "z": "934718c96dcc4416",
        "name": "Multiple Messages",
        "func": "var msg1={payload:\"Ahmed\"}; \nvar msg2={payload:\"Cairo\"};  \nvar msg3={payload:\"Single\"}; \nvar msg4={payload:\"Electrical Engineer\"}; \nreturn [msg1,msg2,msg3,msg4];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 680,
        "wires": [
            [
                "5b321706e309d557"
            ],
            [
                "256d486fbbc15309"
            ],
            [
                "f8bde5aec3fefa25"
            ],
            [
                "a3b4907faacb1da7"
            ]
        ]
    },
    {
        "id": "5b321706e309d557",
        "type": "debug",
        "z": "934718c96dcc4416",
        "name": "msg.payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 620,
        "wires": []
    },
    {
        "id": "256d486fbbc15309",
        "type": "debug",
        "z": "934718c96dcc4416",
        "name": "msg.payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 660,
        "wires": []
    },
    {
        "id": "f8bde5aec3fefa25",
        "type": "debug",
        "z": "934718c96dcc4416",
        "name": "msg.payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 700,
        "wires": []
    },
    {
        "id": "a3b4907faacb1da7",
        "type": "debug",
        "z": "934718c96dcc4416",
        "name": "msg.payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 740,
        "wires": []
    },
    {
        "id": "b3cd030db1b2a606",
        "type": "function",
        "z": "934718c96dcc4416",
        "name": "Multiple Messages",
        "func": "var msg1={payload:\"Ahmed\"}; \nvar msg2={payload:\"Cairo\"};  \nvar msg3={payload:\"Single\"}; \nvar msg4={payload:\"Electrical Engineer\"}; \nreturn [[msg1,msg2],[msg3,msg4]];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 840,
        "wires": [
            [
                "043c3cb7941d899d"
            ],
            [
                "a338491923de8e4e"
            ]
        ]
    },
    {
        "id": "043c3cb7941d899d",
        "type": "debug",
        "z": "934718c96dcc4416",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 820,
        "wires": []
    },
    {
        "id": "a338491923de8e4e",
        "type": "debug",
        "z": "934718c96dcc4416",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 860,
        "wires": []
    },
    {
        "id": "386ea99cd0ce28e2",
        "type": "inject",
        "z": "a0281ef7ad14c679",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "80",
        "payloadType": "num",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "e9655fbdfca2099a"
            ]
        ]
    },
    {
        "id": "e9655fbdfca2099a",
        "type": "function",
        "z": "a0281ef7ad14c679",
        "name": "Arithmetic operation ",
        "func": "var A; \nA= msg.payload; \nmsg.payload= 2*A +50; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 100,
        "wires": [
            [
                "51bb644ad3d3d386"
            ]
        ]
    },
    {
        "id": "51bb644ad3d3d386",
        "type": "function",
        "z": "a0281ef7ad14c679",
        "name": "Update Topic",
        "func": "msg.topic=\"Result\"; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 100,
        "wires": [
            [
                "7a9660de3625a581"
            ]
        ]
    },
    {
        "id": "7a9660de3625a581",
        "type": "function",
        "z": "a0281ef7ad14c679",
        "name": "condition",
        "func": "var p;\np=msg.payload;\nif(p>100){\n    msg.payload=true;\n}\nelse{\n    msg.payload=false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 100,
        "wires": [
            [
                "486fd22e01cf1bf8"
            ]
        ]
    },
    {
        "id": "486fd22e01cf1bf8",
        "type": "debug",
        "z": "a0281ef7ad14c679",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "ce4d03a29c1ad23b",
        "type": "function",
        "z": "a0281ef7ad14c679",
        "name": "Multiple Outputs",
        "func": "var msg1={payload:\"Hello World\"}; \nvar msg2={payload:\"Node-Red is fun\"}; \nvar msg3={payload:\"Thank you Dr.code for this exercise\"}; \nvar msg4={payload:\"Let's start with net lesson\"};\n\nreturn [msg1,msg2,msg3,msg4];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 320,
        "wires": [
            [
                "229bcc0d339c27da"
            ],
            [
                "65ff836461b6260b"
            ],
            [
                "69a742edc55461b0"
            ],
            [
                "dcc825a887701062"
            ]
        ]
    },
    {
        "id": "fa271c750bfbfd08",
        "type": "inject",
        "z": "a0281ef7ad14c679",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "ce4d03a29c1ad23b"
            ]
        ]
    },
    {
        "id": "229bcc0d339c27da",
        "type": "debug",
        "z": "a0281ef7ad14c679",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "65ff836461b6260b",
        "type": "debug",
        "z": "a0281ef7ad14c679",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "69a742edc55461b0",
        "type": "debug",
        "z": "a0281ef7ad14c679",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 340,
        "wires": []
    },
    {
        "id": "dcc825a887701062",
        "type": "debug",
        "z": "a0281ef7ad14c679",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 380,
        "wires": []
    },
    {
        "id": "83c3a4a698b59771",
        "type": "comment",
        "z": "a0281ef7ad14c679",
        "name": "1",
        "info": "",
        "x": 90,
        "y": 60,
        "wires": []
    },
    {
        "id": "c6d462045c271637",
        "type": "comment",
        "z": "a0281ef7ad14c679",
        "name": "2",
        "info": "",
        "x": 81.89582824707031,
        "y": 284.8888854980469,
        "wires": []
    },
    {
        "id": "b7add82ab3bb4a68",
        "type": "switch",
        "z": "e07f73d4e028f5a4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Hello",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bye",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "23",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "23",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "73501ef178af2333"
            ],
            [
                "27db683bfa5cb633"
            ],
            [
                "fe04edc7220d8383"
            ],
            [
                "1bfef158f45c16f3"
            ]
        ]
    },
    {
        "id": "d753035b8777b68a",
        "type": "inject",
        "z": "e07f73d4e028f5a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello",
        "payloadType": "str",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "b7add82ab3bb4a68"
            ]
        ]
    },
    {
        "id": "102cafab5391f6ef",
        "type": "inject",
        "z": "e07f73d4e028f5a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Bye",
        "payloadType": "str",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "b7add82ab3bb4a68"
            ]
        ]
    },
    {
        "id": "73501ef178af2333",
        "type": "debug",
        "z": "e07f73d4e028f5a4",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 60,
        "wires": []
    },
    {
        "id": "27db683bfa5cb633",
        "type": "debug",
        "z": "e07f73d4e028f5a4",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "fe04edc7220d8383",
        "type": "debug",
        "z": "e07f73d4e028f5a4",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "1bfef158f45c16f3",
        "type": "debug",
        "z": "e07f73d4e028f5a4",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "32f9530b6c5d66a8",
        "type": "inject",
        "z": "e07f73d4e028f5a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 171.8958282470703,
        "y": 217.88888549804688,
        "wires": [
            [
                "b7add82ab3bb4a68"
            ]
        ]
    },
    {
        "id": "64af7db1b6948735",
        "type": "switch",
        "z": "e07f73d4e028f5a4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "10",
                "vt": "num",
                "v2": "30",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 340,
        "wires": [
            [
                "246ab365f43b9d0d"
            ]
        ]
    },
    {
        "id": "33f340977e5bd1ec",
        "type": "inject",
        "z": "e07f73d4e028f5a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 210,
        "y": 320,
        "wires": [
            [
                "64af7db1b6948735"
            ]
        ]
    },
    {
        "id": "0c18d63ff42803a1",
        "type": "inject",
        "z": "e07f73d4e028f5a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "25",
        "payloadType": "num",
        "x": 210,
        "y": 380,
        "wires": [
            [
                "64af7db1b6948735"
            ]
        ]
    },
    {
        "id": "246ab365f43b9d0d",
        "type": "debug",
        "z": "e07f73d4e028f5a4",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 340,
        "wires": []
    },
    {
        "id": "06c65c622f87a08d",
        "type": "comment",
        "z": "e07f73d4e028f5a4",
        "name": "in between",
        "info": "",
        "x": 160,
        "y": 280,
        "wires": []
    },
    {
        "id": "b20794b243df6686",
        "type": "comment",
        "z": "e07f73d4e028f5a4",
        "name": "comparison in switch node",
        "info": "",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "befd03c782e6389f",
        "type": "comment",
        "z": "e07f73d4e028f5a4",
        "name": "Comparison Msg Topic",
        "info": "",
        "x": 200,
        "y": 440,
        "wires": []
    },
    {
        "id": "c222394a82da1e9e",
        "type": "switch",
        "z": "e07f73d4e028f5a4",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Greeting",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 640,
        "wires": [
            [
                "8b197efbfb860ab5"
            ]
        ]
    },
    {
        "id": "f72ad82519ecbc5a",
        "type": "function",
        "z": "e07f73d4e028f5a4",
        "name": "comparison msg topic",
        "func": "if(msg.topic==\"Greeting\"){\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 500,
        "wires": [
            [
                "43583f61aa189918"
            ]
        ]
    },
    {
        "id": "f4b77dd14f65cd7d",
        "type": "inject",
        "z": "e07f73d4e028f5a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Greeting",
        "payload": "Hello",
        "payloadType": "str",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "f72ad82519ecbc5a"
            ]
        ]
    },
    {
        "id": "db2973887eaa75b7",
        "type": "inject",
        "z": "e07f73d4e028f5a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Bye",
        "payloadType": "str",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "f72ad82519ecbc5a"
            ]
        ]
    },
    {
        "id": "43583f61aa189918",
        "type": "debug",
        "z": "e07f73d4e028f5a4",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 500,
        "wires": []
    },
    {
        "id": "e72800864170e416",
        "type": "inject",
        "z": "e07f73d4e028f5a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Greeting",
        "payload": "Hello",
        "payloadType": "str",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "c222394a82da1e9e"
            ]
        ]
    },
    {
        "id": "19603381a34dcf36",
        "type": "inject",
        "z": "e07f73d4e028f5a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Bye",
        "payloadType": "str",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "c222394a82da1e9e"
            ]
        ]
    },
    {
        "id": "8b197efbfb860ab5",
        "type": "debug",
        "z": "e07f73d4e028f5a4",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 640,
        "wires": []
    },
    {
        "id": "ab5bb032531a5658",
        "type": "inject",
        "z": "37690e82bd7b63d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Hello",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "39109e26bd6729c8",
                "f35440217cd6a21a"
            ]
        ]
    },
    {
        "id": "39109e26bd6729c8",
        "type": "change",
        "z": "37690e82bd7b63d3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "i love you",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 100,
        "wires": [
            [
                "72d3f401a7df2aa4",
                "73ed3048c1c81c5b",
                "3cc594fd35d1fbb1",
                "5f65c89c7e909f3e"
            ]
        ]
    },
    {
        "id": "72d3f401a7df2aa4",
        "type": "debug",
        "z": "37690e82bd7b63d3",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 100,
        "wires": []
    },
    {
        "id": "f35440217cd6a21a",
        "type": "debug",
        "z": "37690e82bd7b63d3",
        "name": "msg.payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 40,
        "wires": []
    },
    {
        "id": "73ed3048c1c81c5b",
        "type": "change",
        "z": "37690e82bd7b63d3",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "you",
                "fromt": "str",
                "to": "safaa",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 160,
        "wires": [
            [
                "13fb826af4a37279"
            ]
        ]
    },
    {
        "id": "13fb826af4a37279",
        "type": "debug",
        "z": "37690e82bd7b63d3",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "3cc594fd35d1fbb1",
        "type": "change",
        "z": "37690e82bd7b63d3",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 240,
        "wires": [
            [
                "20a05c300b221320"
            ]
        ]
    },
    {
        "id": "20a05c300b221320",
        "type": "debug",
        "z": "37690e82bd7b63d3",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 240,
        "wires": []
    },
    {
        "id": "5f65c89c7e909f3e",
        "type": "change",
        "z": "37690e82bd7b63d3",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 340,
        "wires": [
            [
                "6081af3fc78b19d5"
            ]
        ]
    },
    {
        "id": "6081af3fc78b19d5",
        "type": "debug",
        "z": "37690e82bd7b63d3",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 340,
        "wires": []
    },
    {
        "id": "c0ad12b802cfb473",
        "type": "comment",
        "z": "a4fbafc08a4d9f2b",
        "name": "Range Node maps a numeric value to a different range",
        "info": "****",
        "x": 460,
        "y": 60,
        "wires": []
    },
    {
        "id": "c22a873b1b278ae9",
        "type": "range",
        "z": "a4fbafc08a4d9f2b",
        "minin": "4",
        "maxin": "20",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 430,
        "y": 240,
        "wires": [
            [
                "cbc8d4d43e34fe4b"
            ]
        ]
    },
    {
        "id": "14f599a79f8d149d",
        "type": "inject",
        "z": "a4fbafc08a4d9f2b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "c22a873b1b278ae9"
            ]
        ]
    },
    {
        "id": "de283b9168d6d79c",
        "type": "inject",
        "z": "a4fbafc08a4d9f2b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "num",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "c22a873b1b278ae9"
            ]
        ]
    },
    {
        "id": "515e609c097d5bc2",
        "type": "inject",
        "z": "a4fbafc08a4d9f2b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "c22a873b1b278ae9"
            ]
        ]
    },
    {
        "id": "7214a83f6c42cc55",
        "type": "inject",
        "z": "a4fbafc08a4d9f2b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "12",
        "payloadType": "num",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "c22a873b1b278ae9"
            ]
        ]
    },
    {
        "id": "d9c2e499964944b4",
        "type": "inject",
        "z": "a4fbafc08a4d9f2b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "15",
        "payloadType": "num",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "c22a873b1b278ae9"
            ]
        ]
    },
    {
        "id": "a99668e9ae1fe495",
        "type": "inject",
        "z": "a4fbafc08a4d9f2b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "c22a873b1b278ae9"
            ]
        ]
    },
    {
        "id": "cbc8d4d43e34fe4b",
        "type": "debug",
        "z": "a4fbafc08a4d9f2b",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 240,
        "wires": []
    },
    {
        "id": "2f01571dda1e9f5d",
        "type": "split",
        "z": "a05af2cf9427edc1",
        "name": "",
        "splt": ".",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "d824c5cc17c6d8de"
            ]
        ]
    },
    {
        "id": "5abd1f368ec89122",
        "type": "join",
        "z": "a05af2cf9427edc1",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 350,
        "y": 620,
        "wires": [
            [
                "36886e12def716a9"
            ]
        ]
    },
    {
        "id": "d824c5cc17c6d8de",
        "type": "debug",
        "z": "a05af2cf9427edc1",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "6cc00722e7c20ff0",
        "type": "comment",
        "z": "a05af2cf9427edc1",
        "name": "Split string",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "3c1e31b911f1b58a",
        "type": "debug",
        "z": "a05af2cf9427edc1",
        "name": "msg.payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 60,
        "wires": []
    },
    {
        "id": "7fa8c166f1c0b7ac",
        "type": "comment",
        "z": "a05af2cf9427edc1",
        "name": "Split Array",
        "info": "",
        "x": 340,
        "y": 220,
        "wires": []
    },
    {
        "id": "5482226c7cb2bd0a",
        "type": "split",
        "z": "a05af2cf9427edc1",
        "name": "",
        "splt": ".",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 322.8958435058594,
        "y": 276.8888854980469,
        "wires": [
            [
                "b054d183896a2f28"
            ]
        ]
    },
    {
        "id": "6b46525e99d30193",
        "type": "split",
        "z": "a05af2cf9427edc1",
        "name": "",
        "splt": ".",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 330,
        "y": 340,
        "wires": [
            [
                "f3efff6755df7087"
            ]
        ]
    },
    {
        "id": "8c68aa022986f40f",
        "type": "split",
        "z": "a05af2cf9427edc1",
        "name": "",
        "splt": ".",
        "spltType": "str",
        "arraySplt": "2",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 330,
        "y": 400,
        "wires": [
            [
                "f1058b9ea1d100b8"
            ]
        ]
    },
    {
        "id": "59dddbd8869453e9",
        "type": "inject",
        "z": "a05af2cf9427edc1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello Dr.Code",
        "payloadType": "str",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "2f01571dda1e9f5d",
                "3c1e31b911f1b58a"
            ]
        ]
    },
    {
        "id": "c98290f291496d92",
        "type": "inject",
        "z": "a05af2cf9427edc1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[9,45,2,8,9]",
        "payloadType": "json",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "5482226c7cb2bd0a"
            ]
        ]
    },
    {
        "id": "b054d183896a2f28",
        "type": "debug",
        "z": "a05af2cf9427edc1",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 280,
        "wires": []
    },
    {
        "id": "82ca199eece2fd4a",
        "type": "inject",
        "z": "a05af2cf9427edc1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\"Hello\",\"Bye\",2,8,9]",
        "payloadType": "json",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "6b46525e99d30193"
            ]
        ]
    },
    {
        "id": "f3efff6755df7087",
        "type": "debug",
        "z": "a05af2cf9427edc1",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "747961f3f1820ddc",
        "type": "inject",
        "z": "a05af2cf9427edc1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\"Hello\",\"Bye\",2,8,9]",
        "payloadType": "json",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "8c68aa022986f40f"
            ]
        ]
    },
    {
        "id": "f1058b9ea1d100b8",
        "type": "debug",
        "z": "a05af2cf9427edc1",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 400,
        "wires": []
    },
    {
        "id": "c7cb819c0dae1caf",
        "type": "comment",
        "z": "a05af2cf9427edc1",
        "name": "Split Object",
        "info": "",
        "x": 906.3402709960938,
        "y": 28.888887405395508,
        "wires": []
    },
    {
        "id": "3f5594754d1ef044",
        "type": "split",
        "z": "a05af2cf9427edc1",
        "name": "",
        "splt": ".",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "key",
        "x": 990,
        "y": 80,
        "wires": [
            [
                "3d494fd7097cf50a"
            ]
        ]
    },
    {
        "id": "d0a24cc1f04b9a55",
        "type": "inject",
        "z": "a05af2cf9427edc1",
        "name": "JSON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Location\":\"Italy\",\"Start Time\":\"7:00\",\"End Time0\":\"5:00\"}",
        "payloadType": "json",
        "x": 777.1041564941406,
        "y": 83.11111450195312,
        "wires": [
            [
                "3f5594754d1ef044",
                "88b83a85990a0d96"
            ]
        ]
    },
    {
        "id": "3d494fd7097cf50a",
        "type": "debug",
        "z": "a05af2cf9427edc1",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1177.1041564941406,
        "y": 83.11111450195312,
        "wires": []
    },
    {
        "id": "88b83a85990a0d96",
        "type": "debug",
        "z": "a05af2cf9427edc1",
        "name": "msg.payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 140,
        "wires": []
    },
    {
        "id": "9ca1d0b96a027de4",
        "type": "inject",
        "z": "a05af2cf9427edc1",
        "name": "JSON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"job1\":[{\"Location\":\"Italy\",\"Start Time\":\"7:00\",\"End Time0\":\"5:00\"},{\"Location\":\"Milano\",\"Start Time\":\"7:00\",\"End Time0\":\"5:00\"}],\"job2\":[{\"Location\":\"USA\",\"Start Time\":\"7:00\",\"End Time0\":\"5:00\"},{\"Location\":\"England\",\"Start Time\":\"7:00\",\"End Time0\":\"5:00\"}],\"job3\":[{\"Location\":\"Espain\",\"Start Time\":\"7:00\",\"End Time0\":\"5:00\"},{\"Location\":\"Madrid\",\"Start Time\":\"7:00\",\"End Time0\":\"5:00\"}]}",
        "payloadType": "json",
        "x": 770,
        "y": 140,
        "wires": [
            [
                "3f5594754d1ef044",
                "88b83a85990a0d96"
            ]
        ]
    },
    {
        "id": "62ace583bc202041",
        "type": "comment",
        "z": "a05af2cf9427edc1",
        "name": "Join node Array",
        "info": "",
        "x": 340,
        "y": 500,
        "wires": []
    },
    {
        "id": "6a20be996d66cd03",
        "type": "inject",
        "z": "a05af2cf9427edc1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "5abd1f368ec89122"
            ]
        ]
    },
    {
        "id": "c6d5e0d5b77eb17f",
        "type": "inject",
        "z": "a05af2cf9427edc1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "5abd1f368ec89122"
            ]
        ]
    },
    {
        "id": "da43f779c51c7d5d",
        "type": "inject",
        "z": "a05af2cf9427edc1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 110,
        "y": 620,
        "wires": [
            [
                "5abd1f368ec89122"
            ]
        ]
    },
    {
        "id": "54b196d84084d178",
        "type": "inject",
        "z": "a05af2cf9427edc1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello",
        "payloadType": "str",
        "x": 110,
        "y": 700,
        "wires": [
            [
                "5abd1f368ec89122"
            ]
        ]
    },
    {
        "id": "52369a312cb69258",
        "type": "inject",
        "z": "a05af2cf9427edc1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "num",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "5abd1f368ec89122"
            ]
        ]
    },
    {
        "id": "36886e12def716a9",
        "type": "debug",
        "z": "a05af2cf9427edc1",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 620,
        "wires": []
    },
    {
        "id": "09451edf38354daf",
        "type": "function",
        "z": "a05af2cf9427edc1",
        "name": "msg.Complete",
        "func": "msg.complete=true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 740,
        "wires": [
            [
                "5abd1f368ec89122"
            ]
        ]
    },
    {
        "id": "84c772898e2419b3",
        "type": "inject",
        "z": "a05af2cf9427edc1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Complete",
        "payloadType": "str",
        "x": 100,
        "y": 760,
        "wires": [
            [
                "09451edf38354daf"
            ]
        ]
    },
    {
        "id": "6f8f8f287425f52b",
        "type": "inject",
        "z": "a05af2cf9427edc1",
        "name": "JSON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Name\":\"Ahmed\",\"Age\":23,\"place\":\"cairo\"}",
        "payloadType": "json",
        "x": 110,
        "y": 860,
        "wires": [
            [
                "897168bad8fda2b3"
            ]
        ]
    },
    {
        "id": "9dc986363b7e5e2f",
        "type": "inject",
        "z": "a05af2cf9427edc1",
        "name": "JSON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Name\":\"Adkgk\",\"Age\":23,\"place\":\"Roma\"}",
        "payloadType": "json",
        "x": 110,
        "y": 920,
        "wires": [
            [
                "897168bad8fda2b3"
            ]
        ]
    },
    {
        "id": "8014099e9a4b9015",
        "type": "inject",
        "z": "a05af2cf9427edc1",
        "name": "JSON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Name\":\"jack\",\"Age\":25,\"place\":\"Milano\"}",
        "payloadType": "json",
        "x": 110,
        "y": 980,
        "wires": [
            [
                "897168bad8fda2b3"
            ]
        ]
    },
    {
        "id": "897168bad8fda2b3",
        "type": "join",
        "z": "a05af2cf9427edc1",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 350,
        "y": 920,
        "wires": [
            [
                "971d3e8673a80e2b"
            ]
        ]
    },
    {
        "id": "971d3e8673a80e2b",
        "type": "debug",
        "z": "a05af2cf9427edc1",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 920,
        "wires": []
    },
    {
        "id": "5ac22272074d0c5a",
        "type": "comment",
        "z": "a05af2cf9427edc1",
        "name": "Joining a string ",
        "info": "",
        "x": 360,
        "y": 1080,
        "wires": []
    },
    {
        "id": "a91759c17458635d",
        "type": "inject",
        "z": "a05af2cf9427edc1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "str",
        "x": 130,
        "y": 1160,
        "wires": [
            [
                "10ee8a530b4d9866"
            ]
        ]
    },
    {
        "id": "3b617db4797094db",
        "type": "inject",
        "z": "a05af2cf9427edc1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "str",
        "x": 130,
        "y": 1220,
        "wires": [
            [
                "10ee8a530b4d9866"
            ]
        ]
    },
    {
        "id": "cb3129095e25aeb7",
        "type": "inject",
        "z": "a05af2cf9427edc1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7",
        "payloadType": "str",
        "x": 130,
        "y": 1280,
        "wires": [
            [
                "10ee8a530b4d9866"
            ]
        ]
    },
    {
        "id": "10ee8a530b4d9866",
        "type": "join",
        "z": "a05af2cf9427edc1",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "/",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 350,
        "y": 1200,
        "wires": [
            [
                "e09321e7ef3b4f90"
            ]
        ]
    },
    {
        "id": "e09321e7ef3b4f90",
        "type": "debug",
        "z": "a05af2cf9427edc1",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1200,
        "wires": []
    },
    {
        "id": "8e4cb5cab52c7090",
        "type": "comment",
        "z": "a05af2cf9427edc1",
        "name": "join node  key value objects",
        "info": "",
        "x": 1090,
        "y": 1080,
        "wires": []
    },
    {
        "id": "07166999ce7c61e0",
        "type": "inject",
        "z": "a05af2cf9427edc1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "First Number",
        "payload": "1",
        "payloadType": "str",
        "x": 920,
        "y": 1140,
        "wires": [
            [
                "8eec30e131aca705"
            ]
        ]
    },
    {
        "id": "2494a59fc26e2c60",
        "type": "inject",
        "z": "a05af2cf9427edc1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Second Number",
        "payload": "2",
        "payloadType": "str",
        "x": 930,
        "y": 1200,
        "wires": [
            [
                "8eec30e131aca705"
            ]
        ]
    },
    {
        "id": "4ea47af384c60e0a",
        "type": "inject",
        "z": "a05af2cf9427edc1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Third Number",
        "payload": "3",
        "payloadType": "str",
        "x": 920,
        "y": 1260,
        "wires": [
            [
                "8eec30e131aca705"
            ]
        ]
    },
    {
        "id": "8eec30e131aca705",
        "type": "join",
        "z": "a05af2cf9427edc1",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1190,
        "y": 1200,
        "wires": [
            [
                "351149447444233f"
            ]
        ]
    },
    {
        "id": "351149447444233f",
        "type": "debug",
        "z": "a05af2cf9427edc1",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 1200,
        "wires": []
    },
    {
        "id": "8f4f0c6888cc6d77",
        "type": "inject",
        "z": "8970245f93f53d60",
        "name": "Payload1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Name\":\"John\",\"City\":\"London\",\"Age\":\"26\",\"Education\":{\"Master\":\"Mechatronics\",\"Bachelors\":\"Instrumentation\",\"Diploma\":\"Automation\"}}",
        "payloadType": "json",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "5ed1c849455d1b7b"
            ]
        ]
    },
    {
        "id": "662b9cdead8806b1",
        "type": "inject",
        "z": "8970245f93f53d60",
        "name": "payload2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Name\":\"Jessica\",\"City\":\"Austrulia\",\"Age\":\"27\",\"Education\":{\"Master\":\"Chemistry\",\"Bachelors\":\"Medical Science\",\"Diploma\":\"-\"}}",
        "payloadType": "json",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "5ed1c849455d1b7b"
            ]
        ]
    },
    {
        "id": "6b3043c6074d1c1e",
        "type": "inject",
        "z": "8970245f93f53d60",
        "name": "Payload3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Name\":\"David\",\"City\":\"Germany\",\"Age\":\"25\",\"Education\":{\"Master\":\"Automative\",\"Bachelors\":\"Production\",\"Diploma\":\"Electronics\"}}",
        "payloadType": "json",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "5ed1c849455d1b7b"
            ]
        ]
    },
    {
        "id": "5ed1c849455d1b7b",
        "type": "join",
        "z": "8970245f93f53d60",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "27c7eb54d869a681"
            ]
        ]
    },
    {
        "id": "27c7eb54d869a681",
        "type": "change",
        "z": "8970245f93f53d60",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "info",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 180,
        "wires": [
            [
                "70f21e5f7b5e33b1",
                "d4a174f5022e3710",
                "5622261b1317b708",
                "b32e0baf56c03369",
                "3c4ca15d94d5dcd0",
                "eba17412bd502c67",
                "837d5fc2775f0e88",
                "495bfc8f950494ed",
                "02856d3b99bf4d6c",
                "78966e798db145db"
            ]
        ]
    },
    {
        "id": "70f21e5f7b5e33b1",
        "type": "debug",
        "z": "8970245f93f53d60",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 80,
        "wires": []
    },
    {
        "id": "d4a174f5022e3710",
        "type": "function",
        "z": "8970245f93f53d60",
        "name": "Name1",
        "func": "msg.payload=msg.payload[0].Name\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 140,
        "wires": [
            [
                "6ad6a095d291603b"
            ]
        ]
    },
    {
        "id": "5622261b1317b708",
        "type": "function",
        "z": "8970245f93f53d60",
        "name": "Name2",
        "func": "msg.payload=msg.payload[1].Name\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 180,
        "wires": [
            [
                "ac3ea65aec3b2c63"
            ]
        ]
    },
    {
        "id": "b32e0baf56c03369",
        "type": "function",
        "z": "8970245f93f53d60",
        "name": "Name3",
        "func": "msg.payload=msg.payload[2].Name\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 220,
        "wires": [
            [
                "69072690cec42bc5"
            ]
        ]
    },
    {
        "id": "3c4ca15d94d5dcd0",
        "type": "function",
        "z": "8970245f93f53d60",
        "name": "City1",
        "func": "msg.payload=msg.payload[0].City\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 280,
        "wires": [
            [
                "6ad6a095d291603b"
            ]
        ]
    },
    {
        "id": "eba17412bd502c67",
        "type": "function",
        "z": "8970245f93f53d60",
        "name": "City2",
        "func": "msg.payload=msg.payload[1].City\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 320,
        "wires": [
            [
                "ac3ea65aec3b2c63"
            ]
        ]
    },
    {
        "id": "837d5fc2775f0e88",
        "type": "function",
        "z": "8970245f93f53d60",
        "name": "City3",
        "func": "msg.payload=msg.payload[2].City\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 360,
        "wires": [
            [
                "69072690cec42bc5"
            ]
        ]
    },
    {
        "id": "495bfc8f950494ed",
        "type": "function",
        "z": "8970245f93f53d60",
        "name": "Age1",
        "func": "msg.payload=msg.payload[0].Age\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 420,
        "wires": [
            [
                "6ad6a095d291603b"
            ]
        ]
    },
    {
        "id": "02856d3b99bf4d6c",
        "type": "function",
        "z": "8970245f93f53d60",
        "name": "Age2",
        "func": "msg.payload=msg.payload[1].Age\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 460,
        "wires": [
            [
                "ac3ea65aec3b2c63"
            ]
        ]
    },
    {
        "id": "78966e798db145db",
        "type": "function",
        "z": "8970245f93f53d60",
        "name": "Age3",
        "func": "msg.payload=msg.payload[2].Age\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 500,
        "wires": [
            [
                "0d7c857ffa326be5"
            ]
        ]
    },
    {
        "id": "0d7c857ffa326be5",
        "type": "change",
        "z": "8970245f93f53d60",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "25",
                "fromt": "str",
                "to": "30",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 500,
        "wires": [
            [
                "69072690cec42bc5"
            ]
        ]
    },
    {
        "id": "10b38d0737456532",
        "type": "debug",
        "z": "8970245f93f53d60",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 180,
        "wires": []
    },
    {
        "id": "b3c72c0454bf1c41",
        "type": "debug",
        "z": "8970245f93f53d60",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 280,
        "wires": []
    },
    {
        "id": "b5b01df947996ded",
        "type": "debug",
        "z": "8970245f93f53d60",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 400,
        "wires": []
    },
    {
        "id": "6ad6a095d291603b",
        "type": "join",
        "z": "8970245f93f53d60",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 910,
        "y": 180,
        "wires": [
            [
                "10b38d0737456532"
            ]
        ]
    },
    {
        "id": "ac3ea65aec3b2c63",
        "type": "join",
        "z": "8970245f93f53d60",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 910,
        "y": 280,
        "wires": [
            [
                "b3c72c0454bf1c41"
            ]
        ]
    },
    {
        "id": "69072690cec42bc5",
        "type": "join",
        "z": "8970245f93f53d60",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 910,
        "y": 400,
        "wires": [
            [
                "b5b01df947996ded"
            ]
        ]
    },
    {
        "id": "f096b1b87d6be186",
        "type": "sort",
        "z": "83e35a4d16d1e8df",
        "name": "",
        "order": "ascending",
        "as_num": false,
        "target": "payload",
        "targetType": "msg",
        "msgKey": "payload",
        "msgKeyType": "elem",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 410,
        "y": 80,
        "wires": [
            [
                "280d985bd17ea3ae"
            ]
        ]
    },
    {
        "id": "36b743f5a3f8bea8",
        "type": "batch",
        "z": "83e35a4d16d1e8df",
        "name": "",
        "mode": "interval",
        "count": "3",
        "overlap": 0,
        "interval": "4",
        "allowEmptySequence": false,
        "topics": [],
        "x": 470,
        "y": 540,
        "wires": [
            [
                "9dd0778cac2bc4da"
            ]
        ]
    },
    {
        "id": "d139913c110de27e",
        "type": "inject",
        "z": "83e35a4d16d1e8df",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[9,45,2,8,19]",
        "payloadType": "json",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "f096b1b87d6be186"
            ]
        ]
    },
    {
        "id": "c25f4998173cab40",
        "type": "inject",
        "z": "83e35a4d16d1e8df",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[9,45,2,8,19,\"Hello\"]",
        "payloadType": "json",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "f096b1b87d6be186"
            ]
        ]
    },
    {
        "id": "280d985bd17ea3ae",
        "type": "debug",
        "z": "83e35a4d16d1e8df",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "62c25378da7cc1da",
        "type": "comment",
        "z": "83e35a4d16d1e8df",
        "name": "Ascending Order",
        "info": "",
        "x": 140,
        "y": 20,
        "wires": []
    },
    {
        "id": "b6465277fffa3880",
        "type": "sort",
        "z": "83e35a4d16d1e8df",
        "name": "",
        "order": "descending",
        "as_num": false,
        "target": "payload",
        "targetType": "msg",
        "msgKey": "payload",
        "msgKeyType": "elem",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 390,
        "y": 320,
        "wires": [
            [
                "1319d376e1421074"
            ]
        ]
    },
    {
        "id": "244272c317b8eace",
        "type": "inject",
        "z": "83e35a4d16d1e8df",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[9,45,2,8,19]",
        "payloadType": "json",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "b6465277fffa3880"
            ]
        ]
    },
    {
        "id": "27e40cfde97b76f4",
        "type": "inject",
        "z": "83e35a4d16d1e8df",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[9,45,2,8,19,\"Hello\"]",
        "payloadType": "json",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "b6465277fffa3880"
            ]
        ]
    },
    {
        "id": "1319d376e1421074",
        "type": "debug",
        "z": "83e35a4d16d1e8df",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 320,
        "wires": []
    },
    {
        "id": "105ba1bba2d35424",
        "type": "comment",
        "z": "83e35a4d16d1e8df",
        "name": "Descending Order",
        "info": "",
        "x": 199.8958282470703,
        "y": 247.88888549804688,
        "wires": []
    },
    {
        "id": "66eaacadada46a0a",
        "type": "inject",
        "z": "83e35a4d16d1e8df",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "12",
        "payloadType": "num",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "36b743f5a3f8bea8"
            ]
        ]
    },
    {
        "id": "72ee90730fa33469",
        "type": "inject",
        "z": "83e35a4d16d1e8df",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "36b743f5a3f8bea8"
            ]
        ]
    },
    {
        "id": "f1f4421d88cdda62",
        "type": "inject",
        "z": "83e35a4d16d1e8df",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "34",
        "payloadType": "num",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "36b743f5a3f8bea8"
            ]
        ]
    },
    {
        "id": "9dd0778cac2bc4da",
        "type": "debug",
        "z": "83e35a4d16d1e8df",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 540,
        "wires": []
    },
    {
        "id": "1f8b1a4e8327ad3e",
        "type": "delay",
        "z": "16e6999795236c51",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "68e5ca79e28410b2"
            ]
        ]
    },
    {
        "id": "1f0c36e04dffe985",
        "type": "inject",
        "z": "16e6999795236c51",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "45",
        "payloadType": "num",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "1f8b1a4e8327ad3e"
            ]
        ]
    },
    {
        "id": "68e5ca79e28410b2",
        "type": "debug",
        "z": "16e6999795236c51",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "4d27d527acc40703",
        "type": "comment",
        "z": "16e6999795236c51",
        "name": "Fixed Delay",
        "info": "",
        "x": 430,
        "y": 100,
        "wires": []
    },
    {
        "id": "b9caed7d436ae8b6",
        "type": "comment",
        "z": "16e6999795236c51",
        "name": "Random Delay",
        "info": "",
        "x": 420,
        "y": 260,
        "wires": []
    },
    {
        "id": "a7bd4c003df64059",
        "type": "delay",
        "z": "16e6999795236c51",
        "name": "",
        "pauseType": "random",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "7",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 400,
        "y": 340,
        "wires": [
            [
                "b91e4502c5493bae"
            ]
        ]
    },
    {
        "id": "4d22dc5216a7ae7d",
        "type": "inject",
        "z": "16e6999795236c51",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "45",
        "payloadType": "num",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "a7bd4c003df64059"
            ]
        ]
    },
    {
        "id": "b91e4502c5493bae",
        "type": "debug",
        "z": "16e6999795236c51",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590.8958129882812,
        "y": 340.8888854980469,
        "wires": []
    },
    {
        "id": "5b69e1d82ba66d87",
        "type": "comment",
        "z": "16e6999795236c51",
        "name": "Rate Limit",
        "info": "",
        "x": 400,
        "y": 420,
        "wires": []
    },
    {
        "id": "877de20d4576bcec",
        "type": "delay",
        "z": "16e6999795236c51",
        "name": "",
        "pauseType": "rate",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 424.8958435058594,
        "y": 485.8888854980469,
        "wires": [
            [
                "84bd4fc0905de520"
            ]
        ]
    },
    {
        "id": "69427b172a47afa3",
        "type": "inject",
        "z": "16e6999795236c51",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "45",
        "payloadType": "num",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "877de20d4576bcec"
            ]
        ]
    },
    {
        "id": "84bd4fc0905de520",
        "type": "debug",
        "z": "16e6999795236c51",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 644.8958435058594,
        "y": 485.8888854980469,
        "wires": []
    },
    {
        "id": "3f078545ee5cbcd6",
        "type": "inject",
        "z": "16e6999795236c51",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 190,
        "y": 520,
        "wires": [
            [
                "877de20d4576bcec"
            ]
        ]
    },
    {
        "id": "1e289ff05aeb21eb",
        "type": "inject",
        "z": "16e6999795236c51",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "877de20d4576bcec"
            ]
        ]
    },
    {
        "id": "449909ad3050ce36",
        "type": "comment",
        "z": "16e6999795236c51",
        "name": "Trigger Node",
        "info": "",
        "x": 430,
        "y": 600,
        "wires": []
    },
    {
        "id": "42c39b66bd03165a",
        "type": "inject",
        "z": "16e6999795236c51",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 700,
        "wires": [
            [
                "be46e423bf2757a3"
            ]
        ]
    },
    {
        "id": "9acd1bb6f8669356",
        "type": "debug",
        "z": "16e6999795236c51",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 700,
        "wires": []
    },
    {
        "id": "be46e423bf2757a3",
        "type": "trigger",
        "z": "16e6999795236c51",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 420,
        "y": 700,
        "wires": [
            [
                "9acd1bb6f8669356"
            ]
        ]
    },
    {
        "id": "95403119d226e5ac",
        "type": "inject",
        "z": "16e6999795236c51",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 780,
        "wires": [
            [
                "ad14e35a474b9b12"
            ]
        ]
    },
    {
        "id": "ad14e35a474b9b12",
        "type": "function",
        "z": "16e6999795236c51",
        "name": "reset",
        "func": "msg.reset=true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 780,
        "wires": [
            [
                "be46e423bf2757a3"
            ]
        ]
    },
    {
        "id": "9c7cf9219e3c899e",
        "type": "rbe",
        "z": "84928e520e2998b7",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "7548b04538af1845"
            ]
        ]
    },
    {
        "id": "00fc0cfb1f1f7447",
        "type": "inject",
        "z": "84928e520e2998b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "9c7cf9219e3c899e"
            ]
        ]
    },
    {
        "id": "60cabe3dd75f7a14",
        "type": "inject",
        "z": "84928e520e2998b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "num",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "9c7cf9219e3c899e"
            ]
        ]
    },
    {
        "id": "0f767a2e224e752d",
        "type": "inject",
        "z": "84928e520e2998b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "8",
        "payloadType": "num",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "9c7cf9219e3c899e"
            ]
        ]
    },
    {
        "id": "7548b04538af1845",
        "type": "debug",
        "z": "84928e520e2998b7",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 100,
        "wires": []
    },
    {
        "id": "dc58f354a450d303",
        "type": "comment",
        "z": "84928e520e2998b7",
        "name": "Block unless value changes",
        "info": "",
        "x": 360,
        "y": 40,
        "wires": []
    },
    {
        "id": "530eec45e01ca27c",
        "type": "rbe",
        "z": "84928e520e2998b7",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 334.8958435058594,
        "y": 327.8888854980469,
        "wires": [
            [
                "9d8621eef8243b8b"
            ]
        ]
    },
    {
        "id": "0b539275b01ddd76",
        "type": "inject",
        "z": "84928e520e2998b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 114.89584350585938,
        "y": 287.8888854980469,
        "wires": [
            [
                "530eec45e01ca27c"
            ]
        ]
    },
    {
        "id": "687d73520ac95858",
        "type": "inject",
        "z": "84928e520e2998b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "num",
        "x": 114.89584350585938,
        "y": 327.8888854980469,
        "wires": [
            [
                "530eec45e01ca27c"
            ]
        ]
    },
    {
        "id": "ef9114cdcbf8d348",
        "type": "inject",
        "z": "84928e520e2998b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "8",
        "payloadType": "num",
        "x": 114.89584350585938,
        "y": 367.8888854980469,
        "wires": [
            [
                "530eec45e01ca27c"
            ]
        ]
    },
    {
        "id": "9d8621eef8243b8b",
        "type": "debug",
        "z": "84928e520e2998b7",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 514.8958435058594,
        "y": 327.8888854980469,
        "wires": []
    },
    {
        "id": "483fea8aa84f7e79",
        "type": "comment",
        "z": "84928e520e2998b7",
        "name": "Block unless value changes( ignore initial values)",
        "info": "",
        "x": 494.8958435058594,
        "y": 267.8888854980469,
        "wires": []
    },
    {
        "id": "30d047e81079d31d",
        "type": "rbe",
        "z": "84928e520e2998b7",
        "name": "",
        "func": "deadbandEq",
        "gap": "10",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 320,
        "y": 540,
        "wires": [
            [
                "c0f1f9b83e3d55c3"
            ]
        ]
    },
    {
        "id": "ae0571b1cbeb8c55",
        "type": "inject",
        "z": "84928e520e2998b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "12",
        "payloadType": "num",
        "x": 90,
        "y": 500,
        "wires": [
            [
                "30d047e81079d31d"
            ]
        ]
    },
    {
        "id": "e70a35154304ca39",
        "type": "inject",
        "z": "84928e520e2998b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "30d047e81079d31d"
            ]
        ]
    },
    {
        "id": "c939f519ed275183",
        "type": "inject",
        "z": "84928e520e2998b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "34",
        "payloadType": "num",
        "x": 90,
        "y": 580,
        "wires": [
            [
                "30d047e81079d31d"
            ]
        ]
    },
    {
        "id": "c0f1f9b83e3d55c3",
        "type": "debug",
        "z": "84928e520e2998b7",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 540,
        "wires": []
    },
    {
        "id": "6a74bb7459675cbe",
        "type": "comment",
        "z": "84928e520e2998b7",
        "name": "Block unless value changes is greater than or equal to  % the last output value",
        "info": "",
        "x": 560,
        "y": 480,
        "wires": []
    },
    {
        "id": "bc9ff09f02e313b8",
        "type": "inject",
        "z": "84928e520e2998b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "24",
        "payloadType": "num",
        "x": 90,
        "y": 620,
        "wires": [
            [
                "30d047e81079d31d"
            ]
        ]
    },
    {
        "id": "38c395dff9f76745",
        "type": "inject",
        "z": "84928e520e2998b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2.1",
        "payloadType": "num",
        "x": 90,
        "y": 660,
        "wires": [
            [
                "30d047e81079d31d"
            ]
        ]
    },
    {
        "id": "fde64f27a4ef3e9e",
        "type": "inject",
        "z": "84928e520e2998b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2.2",
        "payloadType": "num",
        "x": 90,
        "y": 700,
        "wires": [
            [
                "30d047e81079d31d"
            ]
        ]
    },
    {
        "id": "99959e4a12e69525",
        "type": "rbe",
        "z": "84928e520e2998b7",
        "name": "",
        "func": "narrowbandEq",
        "gap": "10",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 330,
        "y": 840,
        "wires": [
            [
                "db1e0df0812b3278"
            ]
        ]
    },
    {
        "id": "bd0d7739bba942aa",
        "type": "inject",
        "z": "84928e520e2998b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "12",
        "payloadType": "num",
        "x": 90,
        "y": 800,
        "wires": [
            [
                "99959e4a12e69525"
            ]
        ]
    },
    {
        "id": "8e6c9c1267ef4794",
        "type": "inject",
        "z": "84928e520e2998b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 90,
        "y": 840,
        "wires": [
            [
                "99959e4a12e69525"
            ]
        ]
    },
    {
        "id": "365036fc00d42db2",
        "type": "inject",
        "z": "84928e520e2998b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "34",
        "payloadType": "num",
        "x": 90,
        "y": 880,
        "wires": [
            [
                "99959e4a12e69525"
            ]
        ]
    },
    {
        "id": "db1e0df0812b3278",
        "type": "debug",
        "z": "84928e520e2998b7",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 840,
        "wires": []
    },
    {
        "id": "0add38862264e919",
        "type": "comment",
        "z": "84928e520e2998b7",
        "name": "Block if value changes is greater than or equal to  % the last output value",
        "info": "",
        "x": 540,
        "y": 780,
        "wires": []
    },
    {
        "id": "69658c5a2ef91658",
        "type": "inject",
        "z": "84928e520e2998b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "24",
        "payloadType": "num",
        "x": 90,
        "y": 920,
        "wires": [
            [
                "99959e4a12e69525"
            ]
        ]
    },
    {
        "id": "092bb8c3a93ee406",
        "type": "inject",
        "z": "84928e520e2998b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2.1",
        "payloadType": "num",
        "x": 90,
        "y": 960,
        "wires": [
            [
                "99959e4a12e69525"
            ]
        ]
    },
    {
        "id": "16c57017a51cf72d",
        "type": "inject",
        "z": "84928e520e2998b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1080,
        "wires": [
            [
                "28c9f71a58bffc83"
            ]
        ]
    },
    {
        "id": "28c9f71a58bffc83",
        "type": "random",
        "z": "84928e520e2998b7",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 320,
        "y": 1080,
        "wires": [
            [
                "c2c2c265ff966f92"
            ]
        ]
    },
    {
        "id": "c2c2c265ff966f92",
        "type": "debug",
        "z": "84928e520e2998b7",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 1080,
        "wires": []
    },
    {
        "id": "9a21ada613172748",
        "type": "comment",
        "z": "84928e520e2998b7",
        "name": "generate random values ",
        "info": "",
        "x": 430.8958435058594,
        "y": 1010.2222290039062,
        "wires": []
    },
    {
        "id": "c274e9c9fd263acf",
        "type": "inject",
        "z": "5c660660178a1741",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "b4e9642e6df2b4c2"
            ]
        ]
    },
    {
        "id": "b4e9642e6df2b4c2",
        "type": "random",
        "z": "5c660660178a1741",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 120,
        "wires": [
            [
                "2a2f51db0298e21d"
            ]
        ]
    },
    {
        "id": "b95300d2de741f3f",
        "type": "sort",
        "z": "5c660660178a1741",
        "name": "",
        "order": "ascending",
        "as_num": false,
        "target": "payload",
        "targetType": "msg",
        "msgKey": "payload",
        "msgKeyType": "elem",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 630,
        "y": 120,
        "wires": [
            [
                "ca9dea2e3fe40867"
            ]
        ]
    },
    {
        "id": "2a2f51db0298e21d",
        "type": "join",
        "z": "5c660660178a1741",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 470,
        "y": 120,
        "wires": [
            [
                "b95300d2de741f3f"
            ]
        ]
    },
    {
        "id": "ca9dea2e3fe40867",
        "type": "debug",
        "z": "5c660660178a1741",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 120,
        "wires": []
    },
    {
        "id": "3640bfbd8783e658",
        "type": "comment",
        "z": "5c660660178a1741",
        "name": "Task 1",
        "info": "",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "bcfbbc1f36b88457",
        "type": "comment",
        "z": "5c660660178a1741",
        "name": "Task 2",
        "info": "",
        "x": 110,
        "y": 280,
        "wires": []
    },
    {
        "id": "1fc2314e7d308446",
        "type": "inject",
        "z": "5c660660178a1741",
        "name": "Sensor Simulation",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "2a40e8afa151d17b"
            ]
        ]
    },
    {
        "id": "2a40e8afa151d17b",
        "type": "random",
        "z": "5c660660178a1741",
        "name": "",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 380,
        "wires": [
            [
                "02b72539d1784ccb"
            ]
        ]
    },
    {
        "id": "02b72539d1784ccb",
        "type": "rbe",
        "z": "5c660660178a1741",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 510,
        "y": 380,
        "wires": [
            [
                "7b14913b41267458"
            ]
        ]
    },
    {
        "id": "7b14913b41267458",
        "type": "delay",
        "z": "5c660660178a1741",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 700,
        "y": 380,
        "wires": [
            [
                "980ecebca5f493f7",
                "cad511cab367af22"
            ]
        ]
    },
    {
        "id": "980ecebca5f493f7",
        "type": "trigger",
        "z": "5c660660178a1741",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 880,
        "y": 380,
        "wires": [
            [
                "64ef083c1cb3b2ff"
            ]
        ]
    },
    {
        "id": "64ef083c1cb3b2ff",
        "type": "debug",
        "z": "5c660660178a1741",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 380,
        "wires": []
    },
    {
        "id": "cad511cab367af22",
        "type": "debug",
        "z": "5c660660178a1741",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "2297f67a57bfbcb4",
        "type": "comment",
        "z": "5c660660178a1741",
        "name": "change in sensor simulation node the interval of injection",
        "info": "",
        "x": 290,
        "y": 420,
        "wires": []
    },
    {
        "id": "0eae0a34dd69fe2e",
        "type": "comment",
        "z": "22ae080bddeda637",
        "name": "Context data",
        "info": "",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "2a239843964dc355",
        "type": "comment",
        "z": "22ae080bddeda637",
        "name": "Examble 1",
        "info": "",
        "x": 80,
        "y": 100,
        "wires": []
    },
    {
        "id": "0043a1cc872fc04a",
        "type": "inject",
        "z": "22ae080bddeda637",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "ff814705b7c9d68e"
            ]
        ]
    },
    {
        "id": "ff814705b7c9d68e",
        "type": "function",
        "z": "22ae080bddeda637",
        "name": "context",
        "func": "//store the data \ncontext.set(\"abc\",35); \n//retrieve the data \nvar count= context.get(\"abc\") || 0; \nmsg.payload=count*2; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 200,
        "wires": [
            [
                "2b2811f1cfcc06cb"
            ]
        ]
    },
    {
        "id": "2b2811f1cfcc06cb",
        "type": "debug",
        "z": "22ae080bddeda637",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "7104efc604fc8820",
        "type": "inject",
        "z": "22ae080bddeda637",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "count",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "2d5f0d6503763a18"
            ]
        ]
    },
    {
        "id": "2d5f0d6503763a18",
        "type": "function",
        "z": "22ae080bddeda637",
        "name": "context",
        "func": "if(msg.topic==\"count\"){\n    //retrieve the data\n    var count=context.get(\"abc\")||0; \n    count=count+1; \n    //set the data\n    var abc=context.set(\"abc\",count);\n    msg.payload=count; \n    return msg;\n}\nif(msg.topic==\"reset\"){\n    context.set(\"count\",msg.payload); \n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 360,
        "wires": [
            [
                "97a319d3877b07f3"
            ]
        ]
    },
    {
        "id": "97a319d3877b07f3",
        "type": "debug",
        "z": "22ae080bddeda637",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 360,
        "wires": []
    },
    {
        "id": "ab9b2dfd611bfafc",
        "type": "inject",
        "z": "22ae080bddeda637",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "reset",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "2d5f0d6503763a18"
            ]
        ]
    },
    {
        "id": "5d05036ae56463af",
        "type": "comment",
        "z": "22ae080bddeda637",
        "name": "Examble 2",
        "info": "",
        "x": 80,
        "y": 300,
        "wires": []
    },
    {
        "id": "f8089b2a177d807d",
        "type": "comment",
        "z": "22ae080bddeda637",
        "name": "Global Variable",
        "info": "",
        "x": 120,
        "y": 600,
        "wires": []
    },
    {
        "id": "1f118fc81ba90cf8",
        "type": "inject",
        "z": "22ae080bddeda637",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "35",
        "payloadType": "num",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "7065d9e163621201"
            ]
        ]
    },
    {
        "id": "75cf0c3b2cd68af3",
        "type": "inject",
        "z": "22ae080bddeda637",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "7065d9e163621201"
            ]
        ]
    },
    {
        "id": "7065d9e163621201",
        "type": "function",
        "z": "22ae080bddeda637",
        "name": "store the data",
        "func": "global.set(\"var1\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 680,
        "wires": [
            [
                "afd93475f4161c31"
            ]
        ]
    },
    {
        "id": "afd93475f4161c31",
        "type": "debug",
        "z": "22ae080bddeda637",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 680,
        "wires": []
    },
    {
        "id": "8b241e45e4fede1a",
        "type": "function",
        "z": "22ae080bddeda637",
        "name": "Retrieve the data",
        "func": "var p = global.get(\"var1\") || 0; \nmsg.payload=p;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 800,
        "wires": [
            [
                "405d752aa830fea7"
            ]
        ]
    },
    {
        "id": "0fa44cf9abfbe0a9",
        "type": "inject",
        "z": "22ae080bddeda637",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 800,
        "wires": [
            [
                "8b241e45e4fede1a"
            ]
        ]
    },
    {
        "id": "405d752aa830fea7",
        "type": "debug",
        "z": "22ae080bddeda637",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 800,
        "wires": []
    },
    {
        "id": "e2693586f316ae35",
        "type": "function",
        "z": "22ae080bddeda637",
        "name": "Retrieve the data",
        "func": "if(msg.topic==\"reset\"){\n    global.set(\"var1\",0);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "1b9f47bbfe67f865",
        "type": "inject",
        "z": "22ae080bddeda637",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "reset",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 880,
        "wires": [
            [
                "e2693586f316ae35"
            ]
        ]
    },
    {
        "id": "e628c140026329b8",
        "type": "comment",
        "z": "01642fa426a25687",
        "name": "Task1 using context variable",
        "info": "",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "eaa3ec3fa3a40c7a",
        "type": "inject",
        "z": "01642fa426a25687",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "increment",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "ddf496582c10258c"
            ]
        ]
    },
    {
        "id": "ddf496582c10258c",
        "type": "function",
        "z": "01642fa426a25687",
        "name": "context variable",
        "func": "if(msg.topic==\"increment\"){\n    var count=context.get(\"incr\") || 10; \n    count=count+1; \n    var incr=context.set(\"incr\",count);\n    msg.payload=count;\n    if(count>20){\n        //return ; \n    }\n    else{\n\n    return msg;\n    }\n    \n}\n\nif (msg.topic == \"decrement\") {\n    var decr = context.get(\"a\") || 20;\n    decr = decr - 1;\n     var a=context.set(\"a\", decr);\n    //count =a; \n    msg.payload = decr;\n    if (decr < 10) {\n        //return none;\n    }\n    else {\n\n        return msg;\n    }\n\n}\n if(msg.topic==\"reset\"){\n     count=10;\n     msg.payload=count;\n     return msg; \n }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 180,
        "wires": [
            [
                "fd05eaac5cd798c3"
            ]
        ]
    },
    {
        "id": "fec257c512e10a66",
        "type": "inject",
        "z": "01642fa426a25687",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "decrement",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "ddf496582c10258c"
            ]
        ]
    },
    {
        "id": "4e4c1c9cc57bbbbe",
        "type": "inject",
        "z": "01642fa426a25687",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "reset",
        "payload": "10",
        "payloadType": "num",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "ddf496582c10258c"
            ]
        ]
    },
    {
        "id": "fd05eaac5cd798c3",
        "type": "debug",
        "z": "01642fa426a25687",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "f3f3a43e2c9f8df8",
        "type": "comment",
        "z": "01642fa426a25687",
        "name": "Task2-- solve equations using global variables",
        "info": "",
        "x": 210,
        "y": 380,
        "wires": []
    },
    {
        "id": "4be24a559a77396d",
        "type": "inject",
        "z": "01642fa426a25687",
        "name": "Set A",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 460,
        "wires": [
            [
                "8a0d3d3d28851455"
            ]
        ]
    },
    {
        "id": "41dd758b0c5883ad",
        "type": "inject",
        "z": "01642fa426a25687",
        "name": "Set B",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 500,
        "wires": [
            [
                "22b5c85037724c07"
            ]
        ]
    },
    {
        "id": "5645d9e75439ae99",
        "type": "inject",
        "z": "01642fa426a25687",
        "name": "Set C",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "31e75fae5b4842e7"
            ]
        ]
    },
    {
        "id": "8a0d3d3d28851455",
        "type": "random",
        "z": "01642fa426a25687",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 220,
        "y": 460,
        "wires": [
            [
                "b9571877e2208c86"
            ]
        ]
    },
    {
        "id": "22b5c85037724c07",
        "type": "random",
        "z": "01642fa426a25687",
        "name": "",
        "low": "20",
        "high": "30",
        "inte": "true",
        "property": "payload",
        "x": 220,
        "y": 500,
        "wires": [
            [
                "7160d2fe0c132505"
            ]
        ]
    },
    {
        "id": "31e75fae5b4842e7",
        "type": "random",
        "z": "01642fa426a25687",
        "name": "",
        "low": 1,
        "high": "5",
        "inte": "true",
        "property": "payload",
        "x": 220,
        "y": 540,
        "wires": [
            [
                "eba4c9defc4b05a9"
            ]
        ]
    },
    {
        "id": "b9571877e2208c86",
        "type": "function",
        "z": "01642fa426a25687",
        "name": "A",
        "func": "var a= global.set(\"a\",msg.payload);\na=global.get(\"a\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 460,
        "wires": [
            [
                "84badfa70c5ee502"
            ]
        ]
    },
    {
        "id": "7160d2fe0c132505",
        "type": "function",
        "z": "01642fa426a25687",
        "name": "B",
        "func": "global.set(\"b\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 500,
        "wires": [
            [
                "84badfa70c5ee502"
            ]
        ]
    },
    {
        "id": "eba4c9defc4b05a9",
        "type": "function",
        "z": "01642fa426a25687",
        "name": "C",
        "func": "global.set(\"c\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 540,
        "wires": [
            [
                "84badfa70c5ee502"
            ]
        ]
    },
    {
        "id": "84badfa70c5ee502",
        "type": "debug",
        "z": "01642fa426a25687",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 500,
        "wires": []
    },
    {
        "id": "8641b2a6ff90463f",
        "type": "inject",
        "z": "01642fa426a25687",
        "name": "Solve x",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "x",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 660,
        "wires": [
            [
                "de365ff063553b2e"
            ]
        ]
    },
    {
        "id": "540e5c0365a82186",
        "type": "inject",
        "z": "01642fa426a25687",
        "name": "Solve y",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "y",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 720,
        "wires": [
            [
                "6b9db5517dc5e8ba"
            ]
        ]
    },
    {
        "id": "de365ff063553b2e",
        "type": "function",
        "z": "01642fa426a25687",
        "name": "x= a +2*b + 3*c",
        "func": "var a= global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar x= a +2*b + 3*c;\nmsg.payload=x; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 660,
        "wires": [
            [
                "c2e4bf8ef8a21798"
            ]
        ]
    },
    {
        "id": "6b9db5517dc5e8ba",
        "type": "function",
        "z": "01642fa426a25687",
        "name": "y= 3*a +2*b -3*c",
        "func": "var a =global.get(\"a\"); \nvar b=global.get(\"b\"); \nvar c=global.get(\"c\");\nvar y= 3*a +2*b -3*c; \nmsg.payload=y;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 720,
        "wires": [
            [
                "c2e4bf8ef8a21798"
            ]
        ]
    },
    {
        "id": "c2e4bf8ef8a21798",
        "type": "debug",
        "z": "01642fa426a25687",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 680,
        "wires": []
    }
]